@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Noto Sans JP', 'Helvetica Neue', Arial,
    'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
}

/* リンク */
a {
  color: #003399;
  text-decoration: underline;
  transition: color 0.3s ease;
}

@media (hover: hover) {
  a:hover {
    color: #006699;
  }
}

@media (hover: none) {
  /* リンクタップ時の強調色の調整 */
  -webkit-tap-highlight-color: transparent;

  a:active {
    color: #006699;
  }
}
