@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-blue: #006699;
  --sub-blue: #0c4a6e;
  --link-hover-blue: #3c00bd;
  --main-text: #444;
  --bk: #333;
  --hn-base: 0.5rem;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Syne', 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN',
    'Hiragino Sans', Meiryo, sans-serif;
  color: var(--main-text);
  letter-spacing: 0.05em;
}

p {
  font-family: 'Helvetica Neue', sans-serif;
  color: var(--main-text);
}

/* リンク */
a {
  text-decoration: underline;
  transition: color 0.3s ease;
  cursor: pointer;
}

@media (hover: hover) {
  a:hover {
    color: var(--link-hover-blue);
  }
}

@media (hover: none) {
  /* リンクタップ時の強調色の調整 */
  a {
    -webkit-tap-highlight-color: transparent;
  }

  a:active {
    color: var(--link-hover-blue);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: calc(var(--hn-base) * 4.5);
  margin: calc(var(--hn-base) * 2.25) 0;
}

h2 {
  font-size: calc(var(--hn-base) * 4);
  margin: calc(var(--hn-base) * 2) 0;
}

h3 {
  font-size: calc(var(--hn-base) * 3.5);
  margin: calc(var(--hn-base) * 1.75) 0;
}
h4 {
  font-size: calc(var(--hn-base) * 2.5);
  margin: calc(var(--hn-base) * 1.125) 0;
}
h5 {
  font-size: calc(var(--hn-base) * 2);
  margin: calc(var(--hn-base) * 1) 0;
}
h6 {
  font-size: calc(var(--hn-base) * 1.75);
  margin: calc(var(--hn-base) * 1) 0;
}
